<form>
    <div class="container">
        <div class="row bg-light mt-5 p-3 shadow rounded border">
            <div class="col-lg-6">
                <img src="assets/reg.jpg" class="img-fluid h-100"/>
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">Register</h1>
                <br>
                <label>Enter Your Name</label>
                <input type="text" placeholder="Enter Your Name" class="form-control">

                <label>Email Id</label>
                <input type="email" placeholder="Enter Your Email Id" class="form-control">

                <label>Enter Your Contact Number</label><br/>
                <input type="number" placeholder="Enter Your Contact Number" class="form-control">

                <label>Password</label>
                <input type="password" placeholder="Enter Password"  class="form-control">

                <label>Confirm Password</label>
                <input type="password" placeholder="Confirm Password"  class="form-control">
            
                <div class="text-center">
                    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
                    <button type="submit"  class="btn btn-primary text-center">Register</button>
                </div>            
                <div class="text-center mt-3">
                    <p>Already have an account? <a href="#">Sign in</a>.</p>
                </div>
            </div>
        </div>
    </div>
</form>
